@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

@using MadLabs.Hub.ViewModels;

<div class="bg-light">
    <div class="container">
        <div class="pt-2">
            <h1 class="text-center">About MadLabs.io</h1>
            <h5 class="lead">Suspendisse potenti. Mauris ut mattis velit, vestibulum tincidunt massa. Etiam aliquet euismod sapien id pretium. Pellentesque blandit nisl risus. finibus faucibus. </h5>
        </div>
    </div>
    <div class="bg-light pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Mathieu St-Louis</h2>
                    <p class="lead">Concordia University alumni. Born and raised in Montreal, CA.</p>
                    <p class="lead">Currently a Software Development Engineer <a href="https://www.microsoft.com/en-us/">@@Microsoft</a></p>
                </div>
                <div class="col-md-6">
                    <h2>Danny Lewis</h2>
                    <p class="lead">N/A</p>
                    <p class="lead">Currently a Software Development Engineer <a href="https://www.microsoft.com/en-us/">@@Microsoft</a></p>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h3>
                            Current On-Going Projects
                        </h3>
                        @{
                            Html.RenderPartial("ProjectItem.cshtml", new ProfileProjectItemViewModel
                            {
                                Url = "https://github.com/niofire/MadLabs",
                                Name = "MadLabs",
                                Description = "Creating a website to host personal projects, tutorials and cool experiments"
                            });
                            Html.RenderPartial("ProjectItem.cshtml", new ProfileProjectItemViewModel
                            {
                                Url = "https://github.com/niofire/P2Pong",
                                Name = "P2Pong",
                                Description = "Multiplayer/P2P Pong clone."
                            });
                        }
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Current On-Going Projects
                        </h3>
                        @{
                            Html.RenderPartial("ProjectItem.cshtml", new ProfileProjectItemViewModel
                            {
                                Url = "https://github.com/niofire/MadLabs",
                                Name = "MadLabs",
                                Description = "Creating a website to host personal projects, tutorials and cool experiments"
                            });
                            Html.RenderPartial("ProjectItem.cshtml", new ProfileProjectItemViewModel
                            {
                                Url = "https://github.com/niofire/P2Pong",
                                Name = "P2Pong",
                                Description = "Multiplayer/P2P Pong clone."
                            });

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>