@{
    Layout = "_Layout";
    ViewData["Styles"] = "games.css";

}

<div class="jumbotron text-center">
    <h1>Multiplayer Games</h1>
    <p class="jumbotron-text" >Welcome to the multiplayer games section! This page contains 2p/online multiplayer games for.. free!</p>
</div>
<div class="container container-large pt-2">
    <h2 class="text-center pb-5">Available Games</h2>
    <div class="row">
        <div class="col-lg-6 col-md-12 ">
            <div class="card game-card on-hover-btn-cursor">
                <img class="card-img-top" src="~/images/games/pong-banner.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Online/Offline 2 player Pong game. Classic and powerups mode available.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 pt-lg-0 pt-md-5">
            <div class="card game-card on-hover-btn-cursor">
                <img class="card-img-top" src="~/images/games/pong-banner.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Online/Offline 2 player Pong game. Classic and powerups mode available.</p>
                </div>
            </div>
        </div>
    </div>
</div>
