@{
    Layout = "_Layout";
    ViewData["Styles"] = "games.css";

}

<div class="container container-large pt-2">
    <h2 class="text-center pb-5">Available Games</h2>
    <div class="card-deck h-100">
        @{
            int count = 0;
        }
        @foreach (var metadata in (List<MadLabs.Hub.ViewModels.GameMetadataViewModel>)Model)
        {
            
            <div class="card game-card on-hover-btn-cursor" onclick="location.href='@Url.Action("Play", "Games", new { gameId = count })'">
                <img class="card-img-top game-image" src="~/@metadata.BannerImageSrc" alt="@metadata.Title">
                <div class="card-body game-card-body">
                    <h5 class="card-title">@metadata.Title</h5>
                    <p class="card-text">@metadata.Description</p>
                </div>
            </div>
        
            count++;
        }
    </div>
</div>
