@{
    Layout = "_Layout";
    ViewData["Title"] = "Blogs!";
}

<div class="container">
    <div class="jumbotron">
        <h1>Blogs</h1>
        <p>Collection of blogs, tutorials and examples!</p>
    </div>
    <div>
        <img src="~/images/aspnet_core_banner.png" width="150" height="150" />
        <p>sdaf</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2" style="background:pink">COL LG 6</div>
        <div class="col-lg-2" style="background:blue">COL LG 6</div>
    </div>
</div>
<div class="well">
    <h5>Address</h5>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="company-address" class="col-xs-4 control-label label-left">Company name</label>
            <div class="col-xs-8">
                <input type="text" id="company" class="form-control">
            </div>
        </div>
    </div>



    <div class="container">
        <div class="page-header">
            <h3>Add the (.grid-divider) class to any row to separate grid columns with equal height lines.</h3>
        </div>
        <div class="col-sm-4">
            <div class="col-padding">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-padding">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-padding">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta.</p>
            </div>
        </div>
    </div>
</div>