.jumbotron-text{
    font-size:1.75rem;
}

.on-hover-btn-cursor:hover {
    cursor: pointer;
}

.redit-btn:hover {
    animation: redir-btn-lerp 0.125s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes redir-btn-lerp {
    from {
        background-color: #f8f9fa;
    }

    to {
        background-color: #e0e0e0;
    }
}

hr {
    margin: 0px;
}

.redit-btn p {
    margin-bottom: 0px !important;
    padding-bottom: 1rem !important;
}