.jumbotron-text {
    font-size: 1.75rem;
}

.on-hover-btn-cursor:hover {
    cursor: pointer;
}

.redit-btn:hover {
    animation: redir-btn-lerp 0.125s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes redir-btn-lerp {
    from {
        background-color: #f8f9fa;
    }

    to {
        background-color: #e0e0e0;
    }
}

hr {
    margin: 0px;
}

.redit-btn p {
    margin-bottom: 0px !important;
    padding-bottom: 1rem !important;
}


#game-iframe-container {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    min-height: 70%;
    height: 90%;
    margin-bottom: 10%;
    background: url(../images/gifs/loading.gif) center center no-repeat;
    background-color: #2A2826
}

#game-iframe {
    width: 100%;
    height: 100%;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.project-repo-img{
    max-width:100px;
    max-height:100px;
    display:block;
    margin:auto;
}

.container-large {
    max-width: 75%;
}

.centered-content-container{
    position:relative
}

.center-content {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%)
}