.tutorial-header-image{
    max-height:80px;
    width:auto;
    height:auto;
}

#aspnetcore-header {
    background-color: #0C2C65;
    padding-right:0px;
    padding-left:0px;
}

#vsts-header {
    background-color: #0078D7;
}

#azure-header {
    background-color: #0095C8;
}

.no-horizontal-padding {
    padding-left:0px !important;
    padding-right:0px !important;
}

.no-padding{
    padding:0px !important;
}

.tutorial-section{
   padding-left: 10px;
   padding-right:10px;
}

.panel-header{
    height:80px;
}

.list-group-item{
    margin-left:0px;
}

