@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
    ViewData["Styles"] = "about.css";
}

<div class="bg-light">
    <div class="container">
        <div class="pt-2">
            <h1 class="text-center">About MadLabs.io</h1>
            <h5 class="lead">Suspendisse potenti. Mauris ut mattis velit, vestibulum tincidunt massa. Etiam aliquet euismod sapien id pretium. Pellentesque blandit nisl risus. finibus faucibus. </h5>
        </div>
    </div>

    <div class="bg-light pt-5">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <h2>Mathieu St-Louis</h2>
                    <p class="lead">Concordia University alumni. Born and raised in Montreal, CA.</p>
                    <p class="lead">Currently a Software Development Engineer <a href="https://www.microsoft.com/en-us/">@@Microsoft</a></p>


                    <h3 class="mt-5">
                        Current On-Going Projects
                    </h3>
                    <div onclick="location.href='https://github.com/niofire/MadLabs'" class="redit-btn">
                        <hr />
                        <h4>MadLabs.io</h4>
                        <p class="lead">Creating a website to host personal projects, tutorials and cool experiments.</p>
                    </div>
                    <div onclick="location.href='https://github.com/niofire/MadLabs'" class="redit-btn">
                        <hr />
                        <h4 class="text">2P Pong</h4>
                        <p class="lead">Creating a website to host personal projects, tutorials and cool experiments.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Danny Lewis</h2>
                    <p class="lead">N/A</p>
                    <p class="lead">Currently a Software Development Engineer <a href="https://www.microsoft.com/en-us/">@@Microsoft</a></p>


                    <h3 class="mt-5">
                        Current On-Going Projects
                    </h3>
                    <div onclick="location.href='https://github.com/niofire/MadLabs'" class="redit-btn">
                        <hr />
                        <h4>MadLabs.io</h4>
                        <p class="lead">Creating a website to host personal projects, tutorials and cool experiments.</p>
                    </div>
                    <div onclick="location.href='https://github.com/niofire/MadLabs'" class="redit-btn">
                        <hr />
                        <h4 class="text">2P Pong</h4>
                        <p class="lead">Creating a website to host personal projects, tutorials and cool experiments.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>