@{ 
    Layout = "";
}
<!DOCTYPE html>
<head>
    <title>Under Maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="~/css/maintenance_page.css" />
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"> 
    <script>
        document.onkeypress = function (e) {
            window.location = "https://bing.com";
        };
    </script>
</head>
<body>
    <div class="deathScreen center">
        <p class="warningTitle">MadLabs.io</p>
        <p>Maintenance 0X08AC837 is currently under way. The current session has been terminated.</p>
        <ul>
            <li>Press ALT+F4 to terminate current browser session.</li>
            <li>Press CTRL+ALT+DEL twice to restart computer. You will lose any unsaved information in all applications.</li>
        </ul>
        <p class="anyKey">Press any key to continue <span class="blink">_</span></p>
    </div>
</body>

