@{
    Layout = "_Layout";
    ViewData["Title"] = "Tutorials";
    ViewData["Styles"] = "tutorials.css";
}

<div class="jumbotron">
    <h1>Tutorials</h1>
    <p>Collection of tutorials and examples on various technologies!</p>
</div>

<!-- Display Section-->
<!-- List of Section-->
<div class="row">
    @foreach (var tutSection in @Model)
    {
        <div class="col-md-6 col-xs-12 tutorial-section">
            <div class="panel panel-default">
                <!-- Default panel contents -->

                <div class="panel-heading" id="@tutSection.Section-header">
                    <img src="~/images/Tutorials/@(tutSection.Section)-banner.png" class="tutorial-header-image" />
                </div>

                <ul class="list-group" id="@tutSection.Section-list">
                    @foreach (var tutorial in tutSection.Tutorials)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink("Go somewhere", "GetTutorial", "Tutorials", new { section = tutSection.Section, filename = tutorial.Filename})
                            <p>@tutorial.Summary</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>