@{
    Layout = "_Layout";
    ViewData["Title"] = "Blogs!";
}

<div class="container">
    <div class="jumbotron">
        <h1>Tutorials</h1>
        <p>Collection of tutorials and examples on various technologies!</p>
    </div>
</div>

<!-- Display Section-->

<!-- List of Section-->
<div class="row">
    <div class="col-lg-2">
        <img src="~/images/aspnet_core_banner.png" width="150" height="150" />
    </div>
    <div class="col-lg-10">
        <p class="align-bottom">Asp.NET Core 2 tutorials, Hello World, Web API, MVC and more!</p>
    </div>
    
</div>
